.hero{
  position: relative;
}

.text-wrapper {
  color: white;
  position: absolute;
  left: 68px;
  top: 50%;
  line-height: 60px;
  transform: translate(0px, -50%);
  z-index: 1;

  @media (max-width: 900px) {
    left: 5px;
  }

  h2 {
    font-size: 56px;
    @media (max-width: 900px) {
      font-size: 45px;
    }
  }
}

.image {
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 1080px;

  @media (max-width: 900px) {
    height: 250px;
  }
}
